# Archivos de depuración y compilación
Debug/
*.o
*.d
*.axf
*.elf
*.hex
*.bin
*.map
*.lst
*.crf
*.bak
*.dep
*.htm
*.sct

# Archivos de Keil generados automáticamente
*.uvoptx
*.uvopt
*.uvgui.*

# Archivos de Visual Studio y Git
.vscode/
*.user
*.suo
*.ncb
*.aps
*.log
*.ilk
*.pdb
*.opendb
*.tlog
*.obj
*.idb
*.sdf
.DS_Store

# Archivos del compilador ARM
*.dep
*.uvgui.*

# Archivos de salida de ensamblador
*.s

# Archivos temporales de Keil
Listings/
Objects/