# Directorios generados automáticamente
Debug/
Listings/
Objects/
.vscode/

# Archivos de compilación y depuración
*.o
*.d
*.axf
*.elf
*.hex
*.bin
*.map
*.lst
*.crf
*.bak
*.dep
*.htm
*.sct
*.inp
*.scvd
*.dbgconf
*.inc
*.cgx
*.cgi

# Archivos específicos de Keil
*.uvoptx
*.uvprojx
*.uvopt
*.uvgui.*
*.uvguix.*

# Archivos de compilador ARM
*.dep

# Archivos de salida de ensamblador
*.s

# Archivos de Visual Studio y otros entornos
*.user
*.suo
*.ncb
*.aps
*.log
*.ilk
*.pdb
*.opendb
*.tlog
*.obj
*.idb
*.sdf
.DS_Store

# Excepción: Permitir archivos .uvprojx y .uvoptx en PRJ/
!*/PRJ/*.uvprojx
!*/PRJ/*.uvoptx
mandoCoche/Web/Web.c
